{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {# Menu #}
        {% include '_components/menu.html.twig' %}
        {# Contenu #}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
