
module my-code 1.0;

require {
	type container_runtime_t;
	type unconfined_t;
	class process2 nnp_transition;
}

#============= unconfined_t ==============
allow unconfined_t container_runtime_t:process2 nnp_transition;
