{% extends '_layout/standard.html.twig' %}

{% block title %}Salut HomeController!{% endblock %}

{% block content %}

    <header class="header">
        <h2>Bricount</h2>
    </header>
{% endblock %}
