{% extends '_layout/in_app.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% block content %}

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>/home/thomas/Documents/Coda/TP/PHP/2025-coda-projects/005-symfony-bricount/src/Controller/SettingsController.php</code>
            </li>
            <li>Your template at <code>/home/thomas/Documents/Coda/TP/PHP/2025-coda-projects/005-symfony-bricount/templates/settings/index.html.twig</code>
            </li>
        </ul>
    </div>
{% endblock %}
